<h1 class="text-center mt-3 mb-3" *ngIf="!provider">Schedule An Appointment</h1>
<section class="container" style="background-color: var(--black-1);">
    <div class="card" style="width: 100%; background-color: inherit; color:whitesmoke;">
        <div class="card-body">
            <h1 class="card-title"> Dr. {{this.providerData.NAME}}</h1>
            <div class="d-flex">
                <section class="card-text w-25">
                    <h4 class="card-subtitle mb-2 text-muted">{{this.providerData.SPECIALITY}}</h4>
                    <p class="fw-bold">{{this.providerData.ORGANIZATION.NAME | titlecase}}</p>
                    <span>{{this.providerData.ORGANIZATION.ADDRESS | titlecase}}</span><br>
                    <span>{{this.providerData.ORGANIZATION.CITY | titlecase}}</span><br>
                    <span>{{this.providerData.ORGANIZATION.STATE}}</span>
                </section>
                <section class="w-75">
                    <div class="mb-2">
                        <button class="btn btn-outline-dark" (click)="decrementCurrentDay()">{{" < "}}</button>
                        <h4 class="card-subtitle mb-2 text-muted d-inline-block w-25 text-center"> {{ moment.utc(availableSlots[currentDay][0]).format('dddd, MMMM Do YYYY')}} </h4>
                        <button class="btn btn-outline-dark" (click)="incrementCurrentDay()">{{" > "}}</button>
                    </div>
                    <span
                        *ngFor="let slot of availableSlots[currentDay]"
                        class="btn btn-outline-warning"
                        (click)="book(slot)"
                    >{{moment.utc(slot).add(330, 'm').format("HH:mm")}}</span>
                </section>
            </div>
        </div>
    </div>
</section>