<header>
    <nav class="navbar navbar-light" style="background-color: var(--black-0);">
        <div class="container d-flex justify-content-between mt-4">
            <section id="logo" class="d-flex">
                <img src="../../assets/images/logo-small.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
                <h1 class="text-light my-auto">Care Manager</h1>
            </section>
            <!-- <section id="links" class="text-light">
                <h3 class="d-inline-block me-4 link" routerLink="addTasks">Add task</h3>
                <h3 class="d-inline-block link" routerLink="viewTasks">View Tasks</h3>
            </section> -->
            
        </div>
      </nav>
      <div>
        <div class="custom-shape-divider-top-1657420436">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
      </div>
</header>

<router-outlet></router-outlet>