.custom-shape-divider-top-1657420436 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1657420436 svg {
    position: relative;
    display: block;
    width: calc(129% + 1.3px);
    height: 242px;
}

.custom-shape-divider-top-1657420436 .shape-fill {
    fill: #000;
}