<div class="container d-flex justify-content-center mt-5 mb-5">
    <div class="col-md-4">
        <select class="form-select" formControlName="specialization" name="specialization" id="specialization">
            <option selected disabled value="" default >Specialization</option>
            <option value="GENERAL MEDICINE" default >GENERAL MEDICINE</option>
            <option value="OPTOMETRY">OPTOMETRY</option>
            <option value="PSYCHOLOGIST">PSYCHOLOGIST</option>
            <option value="CHIROPRACTIC">CHIROPRACTIC</option>
            <option value="PEDIATRICS">PEDIATRICS</option>
        </select>
        <div class="invalid-feedback">
            Please select a valid type.
        </div>
    </div>
</div>
